<h1>Edit a user!</h1>
<p>Be sure to use a valid email address and</p>
<p>your password is at least 6 characters long</p>
<p>(do not use a real email just have an @ symbol for validation)</p>
<p>(for simplicity sake, emails do not need to be unique and you can use the default input)</p>

<%= render "form", user: @user %>